<div class="container-fluid">
	<div class="row">
		<div class="col-10">
			<div class="form_main">
				<h4 class="heading mb-3"><strong>Ajouter </strong> une oeuvre <span></span></h4>
				<%= form_tag items_path, method: "post", multipart: true do %>
				<div class="row d-flex align-items-start flex-column">

					<div class="input-group mb-3">
						<input type="text" name="name" class="form-control" placeholder="Titre" aria-label="Username" aria-describedby="basic-addon1">
					</div>

					<div class="input-group mb-3">
						<input type="text" name="price" class="form-control" placeholder="Prix" aria-label="Username" aria-describedby="basic-addon1">
					</div>

					<div class="input-group mb-3">
						<input type="text" name="description" class="form-control" placeholder="description" aria-label="Username" aria-describedby="basic-addon1">
					</div>


					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Upload</span>
						</div>
						<div class="custom-file">
							<%= file_field_tag :photo, class: "custom-file-input" %>
							<label class="custom-file-label" for="inputGroupFile01">Choisir un fichier</label>
						</div>
					</div>

					<input type="submit" value="submit" name="submit" class="txt2 btn btn-dark">
				</div>
				<% end %>

			</div>
		</div>
	</div>




	<div id="accordion">
		<div class="card mb-3">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						All items
					</button>
				</h5>
			</div>

			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<% Item.all.each do |item| %>
					<div class="container-fluid">
						<div class="row shadow-sm bg-white justify-content-center rounded-sm pb-3 pt-3 pl-3 mb-3 text-dark border pr-0 m-0">
							<div class="col-12 d-flex justify-content-between align-items-center text-black-50 m-0 p-0">
								<div>
								<%if item.photo.attached?%>
								<%= image_tag item.photo, alt: 'photo' %>
								<%else%>
								<img src="http://placehold.it/700x400" alt=""></a>
								<%end%>
								<%= Item.find(item.id).name %>
								<%= "#{Item.find(item.id).price} $" %>	
								</div>
								<div>
									<%= link_to "", item_path(item.id), method: "delete", :class => "fas fa-times fa-2x spec mr-3" %>
									<%= link_to "", edit_item_path(item.id), method: "get", :class => "fas fa-pencil-alt fa-2x spec mr-3" %>
								</div>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingTwo">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						All User
					</button>
				</h5>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<% User.all.each do |user| %>
					<div class="container-fluid">
						<div class="row shadow-sm bg-white justify-content-center rounded-sm pb-3 pt-3 pl-3 mb-3 text-dark border pr-0 m-0">
							<div class="col-12 d-flex justify-content-between align-items-center text-black-50 m-0 p-0">
								<%= User.find(user.id).first_name %>
								<%= 	User.find(user.id).last_name %>	
								<div class="d-flex justify-content-between align-items-center">

									<% if user.is_admin? %>
									<span> Admin</span>
									<% else %>
									<span> User</span>
									<% end %>

									<%= link_to "", user_path(user.id), method: "delete", :class => "ml-3 fas fa-times fa-2x spec mr-3" %>
									<%= link_to "", edit_user_path(user.id), method: "get", :class => "fas fa-pencil-alt fa-2x spec mr-3" %>
								</div>
							</div>
						</div>
					</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	img {
		width: 50px;
		height: auto;
	}
</style>