<div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
      <br>
      <div class="login100-form validate-form">
        <span class="login100-form-title p-b-37">
          Forgot your password?
        </span>
        <br><br>
        <p>Enter the email address associated with your account. You will shortly recieve an email to reset your password.</p>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
          </div>
          <br><br>
          <div style="text-align: center">
          <div class="actions">
            <%= f.submit "Reset", class:'btn' %>
          </div>
        </div>
        <% end %>
        <br>
          <a href="<%= render "devise/shared/links" %>
          </a>
        </div>
        <br>
      </div>
    </div>
  </div>
