<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class:'form-control', placeholder:'N°, Street, Zip, City, Country' %>
    <%= form.hidden_field :number, class:'form-control', placeholder:'N°' %>
    <%= form.hidden_field :street, class:'form-control', placeholder:'Street' %>
    <%= form.hidden_field :zip_code, class:'form-control', placeholder:'Zip Code' %>
    <%= form.hidden_field :city, class:'form-control', placeholder:'City' %>
  </div>

  <br>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :statut_id, value: 3 %>

  <div class="align1">
    <%= link_to 'Back', orders_path, class:'btn2' %>
      <div class="actions">
        <%= button_to orders_path,
        method: :post,
        id: "pay_sca",
        data: { disable_with: '<i class="fa fa-spinner fa-spin"></i>'.html_safe },
        class: "btn1",
        remote: true do  %>
        <i style="float:left;color:black" id="notes-exists" class="fas fa-lock">&nbsp;Pay</i>
        <% end %>
      </div>
  </div>
<% end %>
