<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
    <%= input name= "statut" value= 1 type="hidden" %>
  </div>

  <div class="field">
    <%= form.label :adress %>
    <%= form.text_field :adress %>
    <%= input name= "adress" value= "21 Rue Richard Lenoir" type="hidden" %>
    <%= input name= "user_id" value= "<%= current_user.id %>" type="hidden" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
