<p id="notice"><%= notice %></p>

<div class="container-login100">
    <div class="md-wrap p-l-55 p-r-55 p-t-80 p-b-30">
      <br>
      <div class="login100-form validate-form">
        <span class="login100-form-title p-b-37">
          Orders History
        </span>
        <br><br>
        <table>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.statut_id %>&nbsp;</td>
                <td><%= order.address %>&nbsp;</td>
                  <td><%= link_to 'Show', order %>&nbsp;</td>
                  <td><%= link_to 'Edit', edit_order_path(order) %>&nbsp;</td>
                  <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;</td>
                <td><hr></td>
                </tr>
            <% end %>
          </tbody>
        </table><br>
        <%= link_to 'New Order', new_order_path, class:'btn' %>
      </div>
      <br>
        <br>
    </div>
</div>
