<p id="notice"><%= notice %></p>

<script type="text/javascript">
  var stripe = Stripe('pk_test_jZhRHw42loqKvOnegpVa6FMP00juhGuNCE');
  stripe.redirectToCheckout({
  // Make the id field from the Checkout Session creation API response
  // available to this file, so you can provide it as parameter here
  // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
  sessionId: 'cs_test_WZtZtEBKwa4GqortwTqeWcexNKTBhkHMseTzvhgqpxQnEXdXu1a3ukpW'
}).then(function (result) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer
  // using `result.error.message`.
});
</script>

<p>
  <strong>Status:</strong>
  <%= @order.statut_id %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @order.address %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
